<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="serverXmlFileName" value="logiciels.xml" />
    <add key="localXmlFileName" value="test.xml" />
    <add key="downloadDirectory" value="C:\Test" />
    <add key="sleepPeriod" value="3600" />
    <add key="serverIp" value="[::1]" />
    <add key="userName" value="ENIT" />
    <add key="password" value="ENIT" />
    <add key="bufferSize" value="2048" />
  </appSettings>
</configuration>